<div class="container full-w mar-neg-left-15 mar-neg-right-0 pad-right-0">

  <div class="full-w mar-neg-left-0 mar-neg-right-15 pad-right-0">
  
     <div class="container full-w mar-right-0">
       <div class="row ">
         <div class="col-md-12 pad-0">

             <!-- Main  -->
            <div class="col-md-12 pad-0  pad-right-0 mar-0 text-center main-content-container" >
              <!-- Filter -->

              <div class="col-md-12 full-w main-content minh-550 pad-0">
                  <div class="col-md-12 pad-0  pady-0" id="filter-holder" >
                      <div class="row filter-holder-row">
                        <div class="top-filter col-md-12 text-center mar-right-0 pad-right-0">
                          <img src="../../images/filter.jpg"  class="full-w">
                            <!-- Filter Controls -->
                            <div class="col-md-12 pad-10 mar-top-0 mar-neg-top-60 pad-x-0 filter-controls-container">
                              <div class="col-md-10  col-md-offset-1 pad-10 mar-top-0 filter-controls">

                                <!-- Result Counts -->
                                <div class="col-md-3 col-sm-6 col-xs-6 pad-0 text-right-sm text-right filter-results-count">
                                  <label ng-if="!filterResultsCount && hasFilter">
                                    7 dealers in 7
                                  </label>
                                  <label ng-if="filterResultsCount && hasFilter">
                                    11
                                  </label>
                                </div>
                                 
                                <div class="col-md-2 pad-0 col-sm-6 col-xs-6 text-left-sm text-center filter-results-count-label">
                                    <label>
                                      Filter Results
                                    </label>
                                    <a href="#" ng-click="toggleMobileFilter()" class="filter-toggler">
                                      <i class="fa" ng-class="isMobileFilterOpen ? 'fa-sort-down' : 'fa-caret-right'"></i>
                                    </a> 
                                </div>
                                <!-- Result Counts Ends-->

                                <!-- Filter Options -->
                                <div class="col-md-7 pad-0 pad-left mar-neg-top-3 filter-selection" ng-class="isMobileFilterOpen ? 'on-play' : ''">
                                  <!-- Filter Selection -->
                                  <div class="col-md-2 pad-0 mar-left-15 pad-x-5 filter-selection-opt" >
                                    <input 
                                      type="checkbox" name="filter" class="mar-right-10"
                                      ng-model="filter.service"
                                      ng-change="filterDealers(filter,'Service Pro')"
                                      
                                      >
                                    Service          
                                  </div>
                                  <div class="col-md-2 pad-0 mar-left-15 filter-selection-opt">
                                    <input 
                                      type="checkbox" name="filter" class="mar-right-10"
                                     ng-model="filter.installation"
                                      ng-change="filterDealers(filter,'Installation Pro')"
                                    >
                                    Installation          
                                  </div>
                                  <div class="col-md-2 pad-0 mar-left-15 filter-selection-opt">
                                    <input 
                                      type="checkbox" name="filter" class="mar-right-10"
                                     ng-model="filter.residential"
                                      ng-change="filterDealers(filter,'Residential Pro')"
                                    >
                                    Residential          
                                  </div>
                                  <div class="col-md-3 pad-0 mar-left-15 filter-selection-opt">
                                    <input 
                                      type="checkbox" name="filter" class="mar-right-10"
                                    ng-model="filter.commercial"
                                      ng-change="filterDealers(filter,'Commercial Pro')"
                                      >
                                      
                                      Commercial            
                                    <a href="#" class="mar-left-5">
                                      <i class="fa fa-question"></i>
                                    </a>
                                  </div>
                                  <!-- Filter Selection Ends -->
                                </div>  
                                <!-- Filter Options Ends -->
                              </div>
                            </div>
                        
                      </div>
                  </div>

                  <div class="col-md-12 pad-0  pady-0" id="filter-holder-2" >
                      <div class="row " >
                        <div class="top-filter col-md-12 text-center mar-right-0 pad-right-0  pady-0">
                            <div class="col-md-12 pad-10 mar-top-5 pad-x-0 pad-y-0 mar-y-0 pady-0">
                              <div class="col-md-10  col-md-offset-1 pad-10 mar-top-0 filter-result-container pad-x-0">

                                <!-- <div class="col-md-12  col-md-offset-1 pad-10 mar-top-0 filter-result-container"> -->
                                <div 
                                  class="col-md-4 col-sm-6 filter-result text-center pad-left-0 pad-y-20 pad-top-0"
                                  ng-repeat="dealer in dealers"
                                  ng-animate="'animate'"
                                >
                                    
                                  <div class="col-md-12 filter-result-content pad-x-10">
                                       
                                      <div class="filter-result-head pad-y-10" ng-class="longDealerName">
                                        <label ng-class="isDealerNameShort(dealer.data.name)">
                                         <!--  {{ dealer.data.name }} -->
                                          <!-- Aqua Pro -->
                                        </label>
                                      </div>
                                      
                                      <div class="filter-result-contact pad-y-10">
                                        <label class="contact-label">
                                          <span class="phone-wrap">
                                            <i class="icon fa fa-phone"></i>  
                                          </span>
                                           <!-- {{ dealer.data.phone1 }} -->
                                        </label>
                                      </div>

                                      <div class=" text-center filter-result-contact-top-label pad-y-10">
                                        
                                        <p>
                                          Can't talk now? Click here below to send an email.
                                        </p>
                                      </div>
                                      
                                      <div class=" text-center filter-result-contact-email pad-y-10 mar-bot-15">
                                         <a href="#" class="mar-right-0 box-anchor" 
                                            
                                            ng-click="sentTo(dealer.data)"
                                           
                                            data-toggle="modal" data-target="#sendInquiry"
                                            ng-model="sendTo" 
                                          >
                                          <i class="fa fa-envelope" aria-hidden="true"></i>
                                          Contact this Pro
                                        </a>
                                      </div>

                                      <div class=" text-center filter-result-business-hours pad-y-10 mar-y-25">
                                        <h4>Business Hours</h4>
                                        <ul class="text-center pad-left-0">
     
                                          <li ng-repeat="day in dealer.data.weekHours track by $index" >
                                            <!-- 
                                              FOR REVISION!!
                                              Temporary Solution
                                              This is not the best way to iterate things like this
                                             -->
                                            <!-- Weekdays -->
                                            {{
                                              $index == 0  ? 'Monday': ''
                                            }}
                                            {{
                                              $index == 1 ? 'Tuesday':''                                          
                                            }}
                                            {{
                                               $index == 2  ? 'Wednesday': ''
                                            }}
                                            {{
                                              $index == 3 ? 'Thursday':''                                          
                                            }}
                                            {{
                                               $index == 4  ? 'Friday': ''
                                            }}

                                            <!-- Weekends -->
                                            {{
                                              $index == 5  ? 'Saturday': ''
                                            }}
                                            {{
                                              $index == 6 ? 'Sunday':''                                          
                                            }}
                                            
                                            <!-- Time -->
                                            {{ 
                                              arrangeHours(day) !== '' ? day : 'CLOSED' 

                                            }}
                                          </li>
                                         
                                        </ul>
                                      </div>
                                  </div>  
                                  
                                  <div class="col-md-12 text-center filter-result-categories pad-y-10 mar-y-25 mar-bot-0">
                                    
                                    <div class="row pad-10 text-left">
                                      <div class="col-md-6 col-sm-6 text-center-sm text-center-xs col-xs-6" ng-if="isCertified(dealer.data.certifications,'Installation Pro')">
                                        <span class="span-ct">
                                          <i class="fa fa-star fa-spin"></i>
                                          Installation Pro
                                        </span>
                                      </div>

                                       <div class="col-md-6 col-sm-6 text-center-sm text-center-xs col-xs-6  text-left" ng-if="isCertified(dealer.data.certifications,'Service Pro')">
                                        <span class="span-ct">
                                          <i class="fa fa-cog fa-spin"></i>
                                          Service Pro
                                        </span>
                                      </div> 

                                       <div class="col-md-6  col-sm-6 text-center-sm text-center-xs col-xs-6 text-left" ng-if="isCertified(dealer.data.certifications,'Residential Pro')">
                                        <span class="span-ct">
                                          <i class="fa fa-home"></i>
                                          Residential Pro
                                        </span>
                                      </div> 

                                       <div class="col-md-6  col-sm-6 text-center-sm text-center-xs col-xs-6 text-left" ng-if="isCertified(dealer.data.certifications,'Commercial Pro')">
                                        <span class="span-ct">
                                          <i class="fa fa-users"></i>
                                          Commercial Pro
                                        </span>
                                      </div> 
                                    </div>

                                  </div>
                                </div>

                              </div>
                            </div>
                      </div>
                  </div>


                  <!-- Footer -->
                   <!--  <ng-include
                        src="'views/shared/footer.html'">
                    </ng-include> -->
                  <!-- Footer Ends -->
                  </div>

              </div>
            </div>
            <!-- Main Ends -->
         </div>
        
       </div>
     </div>



     <!-- Modal -->
    <div id="sendInquiry" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header sendInquiry-header font-white">
            <button type="button" class="close font-white font-n font-30 op-1" data-dismiss="modal">&times;</button>
            <h4>Email</h4>
            <h4 class="modal-title">{{sendTo.name}}</h4>
          </div>
          <div class="modal-body">
            <h4>Fill out the form below and {{sendTo.name}} will get in touch.</h4>
            <div class="panel panel-default">
              <div class="panel-body">
              
                <form name="inquire-form">
                  <!-- Name -->
                  <div class="form-group">
                    <label class="full-w" for="name">First and last name 
                      <span class="pull-right pad-x-5">
                        <i class="fa" ng-class="isFieldValid('name',nameField,true,'text') && nameField !== '' ? 'fa-check-circle-o' : 'fa-circle-thin'"></i>
                      </span>
                    </label>
                    <input type="text" class="form-control"  ng-model="nameField" id="name" name="name">
                  </div>
                  <!-- Phone -->
                  <div class="form-group">
                    <label class="full-w" for="phone">Phone number 
                      <span class="pull-right pad-x-5">
                        <i class="fa" ng-class="isFieldValid('tel', phoneField, true,'number') && phoneField !== null ? 'fa-check-circle-o' : 'fa-circle-thin'"></i>
                      </span>
                    </label>
                    <input type="number" class="form-control"  ng-model="phoneField" id="phone" name="phone">
                  </div>
                  <!-- Email -->
                  <div class="form-group">
                    <label class="full-w" for="email">Email address 
                      <span class="pull-right pad-x-5">
                        <i class="fa" ng-class="isFieldValid('email', emailField, true,'email') ? 'fa-check-circle-o' : 'fa-circle-thin'"></i>
                      </span>
                    </label>
                    <input type="email" class="form-control" required ng-model="emailField"  id="email" name="email">
                  </div>

                  <!-- Comments -->
                  <div class="form-group">
                    <label class="full-w" for="pwd">Comments or questions 
                      <span class="pull-right optional-label pad-x-5">optional</span>
                    </label>
                     <textarea class="form-control full-w" rows="3" name="comment" id="comment"></textarea>
                  </div>

                  <!-- Confirmation -->
                  <div class="form-group">
                    <label class="full-w" for="own-pool">
                      Do you currently own a pool or spa?
                      <span class="pull-right optional-label pad-x-5">optional</span>
                    </label>
                    <input type="radio" class="radio-owner-yes" checked value="1" name="own">
                    <input type="radio" class="radio-owner-no" value="0" name="own">
                  </div>
                  <button type="submit" class="btn btn-default">Send My Email 
                    <i class="fa fa-chevron-right "></i>
                  </button>
                  <input type="submit" id="send-inquiry-a" class="btn btn-default-mobile" value="Send">
                </form>
              
              </div>
            </div>

          </div>
          <div class="modal-footer text-left">
            <p>
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam bibendum, ex sit amet iaculis vulputate, nunc magna efficitur tortor, a euismod nisl nunc eget velit."
            </p>
          </div>
        </div>

      </div>
    </div>

  </div>
          
</div>
